<configuration>
    <dllmap dll="SDL.dll" target="libSDL.so" />
    <dllmap dll="SDL_image.dll" target="libSDL_image.so" />
    <dllmap dll="SDL_mixer.dll" target="libSDL_mixer.so" />
    <dllmap dll="SDL_ttf.dll" target="libSDL_ttf.so" />
    <dllmap dll="SDL_net.dll" target="libSDL_net.so" />
    <dllmap dll="smpeg.dll" target="libsmpeg.so" />
    <dllmap dll="SDL_gfx.dll" target="libSDL_gfx.so" />
</configuration>
