<configuration>
  <appSettings>
    <add key="StarcraftDirectory" value="/Applications/Starcraft Folder/Starcraft Files/" />
    <add key="BroodwarCDDirectory" value="/Volumes/Brood War CD" />
    <add key="StarcraftCDDirectory" value="/Volumes/Starcraft CD" />

    <!-- debugging/development options.

         ShowElementBorders:
              puts a border around UI elements in the screens leading
              up to the game screen.  A green border means the element
              is visible, yellow means not visible.

         ShowSpriteBorders:
              puts a green border around a sprite's bounding box in
              the game screen.

	DebugPainterDirty:
	      Flashes a red rectangle around the dirty area before
	      redrawing it.  Useful for figuring out if we're being
	      inefficient with our repaints (which we are at the
	      moment).

	ShowFps:
	      Shows the frames per second in the upper left corner.
    -->

    <!--<add key="ShowFps" value="true" />-->
    <!--<add key="DebugPainterDirty" value="true" />-->
    <!--<add key="ShowElementBorders" value="true" />-->
    <!--<add key="ShowSpriteBorders" value="true" />-->
  </appSettings>
</configuration>
