<configuration>
  <appSettings>
    <add key="StarcraftDirectory" value="/home/toshok/src/starcraft/starcraft" />
    <add key="BroodwarCDDirectory" value="/home/toshok/src/starcraft/bw-cd" />
    <add key="StarcraftCDDirectory" value="/media/STARCRAFT/install.exe" />
    <add key="ShowElementBorders" value="false" />
    <add key="ShowSpriteBorders" value="true" />
  </appSettings>
</configuration>
